{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block style %}
 <style>
     main{
         height:100%;
         display:flex;
         justify-content:center;
     }
     form{
         display:flex;
         flex-direction:column;
         justify-content:center;
         align-items:center;
     }
     button{
         width:fit-content;
     }
 </style>
{% endblock %}

{% block main %}
<form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <label for="password">Confirm :</label>
            <input autocomplete="off" class="form-control" name="confirm" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
{% endblock %}